<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PRUEBA HABILIDADES JS</title>
</head>
<body>
	<% for (let opcion of opciones) { %>
		<a href="<%= opcion.url %>" target="_blank">
			<div><%= opcion.descripcion %></div>
		</a>
	<% } %>
</body>
</html>